src/main/resources/NMU/paForNode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="paForNode"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:pafn="http://pagopa-api.pagopa.gov.it/pa/paForNode.xsd"
	xmlns:tns="http://pagopa-api.pagopa.gov.it/pa/paForNode.wsdl"
	targetNamespace="http://pagopa-api.pagopa.gov.it/pa/paForNode.wsdl">

	<wsdl:types>
		<xsd:schema version="1.0.0">
			<xsd:import schemaLocation="paForNode.xsd"
				namespace="http://pagopa-api.pagopa.gov.it/pa/paForNode.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="paVerifyPaymentNoticeReq">
		<wsdl:part name="requestBody"
			element="pafn:paVerifyPaymentNoticeReq" />
	</wsdl:message>
	<wsdl:message name="paVerifyPaymentNoticeRes">
		<wsdl:part name="responseBody"
			element="pafn:paVerifyPaymentNoticeRes" />
	</wsdl:message>
	<wsdl:message name="paGetPaymentReq">
		<wsdl:part name="requestBody" element="pafn:paGetPaymentReq" />
	</wsdl:message>
	<wsdl:message name="paGetPaymentRes">
		<wsdl:part name="responseBody"
			element="pafn:paGetPaymentRes" />
	</wsdl:message>
	<wsdl:message name="paGetPaymentV2">
		<wsdl:part name="requestBody"
			element="pafn:paGetPaymentV2Request" />
	</wsdl:message>
	<wsdl:message name="paGetPaymentV2Response">
		<wsdl:part name="responseBody"
			element="pafn:paGetPaymentV2Response" />
	</wsdl:message>
	<wsdl:message name="paSendRTReq">
		<wsdl:part name="requestBody" element="pafn:paSendRTReq" />
	</wsdl:message>
	<wsdl:message name="paSendRTRes">
		<wsdl:part name="responseBody" element="pafn:paSendRTRes" />
	</wsdl:message>
	<wsdl:message name="paSendRTV2">
		<wsdl:part name="requestBody"
			element="pafn:paSendRTV2Request" />
	</wsdl:message>
	<wsdl:message name="paSendRTV2Response">
		<wsdl:part name="responseBody"
			element="pafn:paSendRTV2Response" />
	</wsdl:message>
	<wsdl:message name="paDemandPaymentNotice">
		<wsdl:part name="requestBody"
			element="pafn:paDemandPaymentNoticeRequest" />
	</wsdl:message>
	<wsdl:message name="paDemandPaymentNoticeResponse">
		<wsdl:part name="responseBody"
			element="pafn:paDemandPaymentNoticeResponse" />
	</wsdl:message>

	<wsdl:portType name="paForNode_PortType">
		<wsdl:operation name="paVerifyPaymentNotice">
			<wsdl:input message="tns:paVerifyPaymentNoticeReq"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paVerifyPaymentNoticeReq" />
			<wsdl:output message="tns:paVerifyPaymentNoticeRes"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paVerifyPaymentNoticeRes" />
		</wsdl:operation>
		<wsdl:operation name="paGetPayment">
			<wsdl:input message="tns:paGetPaymentReq"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paGetPaymentReq" />
			<wsdl:output message="tns:paGetPaymentRes"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paGetPaymentRes" />
		</wsdl:operation>
		<wsdl:operation name="paGetPaymentV2">
			<wsdl:input message="tns:paGetPaymentV2"></wsdl:input>
			<wsdl:output message="tns:paGetPaymentV2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paSendRT">
			<wsdl:input message="tns:paSendRTReq"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paSendRTReq" />
			<wsdl:output message="tns:paSendRTRes"
				wsam:Action="http://pagopa-api.pagopa.gov.it/service/pa/paForNode/paSendRTRes" />
		</wsdl:operation>
		<wsdl:operation name="paSendRTV2">
			<wsdl:input message="tns:paSendRTV2"></wsdl:input>
			<wsdl:output message="tns:paSendRTV2Response"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paDemandPaymentNotice">
			<wsdl:input message="tns:paDemandPaymentNotice"></wsdl:input>
			<wsdl:output message="tns:paDemandPaymentNoticeResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="paForNode_Binding"
		type="tns:paForNode_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="paVerifyPaymentNotice">
			<soap:operation soapAction="paVerifyPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paGetPayment">
			<soap:operation soapAction="paGetPayment" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paGetPaymentV2">
			<soap:operation soapAction="paGetPaymentV2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paSendRT">
			<soap:operation soapAction="paSendRT" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paSendRTV2">
			<soap:operation soapAction="paSendRTV2" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="paDemandPaymentNotice">
			<soap:operation soapAction="paDemandPaymentNotice" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="paForNode_Service">
		<wsdl:port name="paForNode_Port"
			binding="tns:paForNode_Binding">
			<soap:address
				location="http://pagopa-api.pagopa.gov.it/service/pa/paForNode" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
